@model  IEnumerable<Deserto.Models.Ingredient>

@{
    ViewData["Title"] = "removeFromExcludedIngredients";
}

<h1>removeFromExcludedIngredients</h1>

<h1>Ingredientes Excluídos</h1>

<p>
    <a asp-controller="UserView" asp-action="getAllButExcludedIngredients">Adicionar novo ingrediente:</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Ingrediente
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    <a asp-controller="UserView" asp-action="removeFromExcludedIngredients" asp-route-ingredientID="@item.ingredientID">Remove</a>
                </td>
            </tr>
        }
    </tbody>
</table>
