
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
   <title>DesertS</title>
</head>
<body>
    <div class="text-center">
        <p><a asp-controller="RecipeView" asp-action="getRecipe" class="tm-nav-item-link">Confecionar Receita</a></p>
        <p><a asp-controller="RecipeView" asp-action="getRecipes" class="tm-nav-item-link">Livro de Receitas</a></p>
        <p><a asp-controller="UserView" asp-action="GetExcludedIngredients" class="tm-nav-item-link">Preferências</a></p>
    </div>
</body>
</html>