
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Hello World</title>
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Home Page</h1>
        <a asp-controller="UserView" asp-action="getExludedIngredients">IngredientesEscluidos</a>
        <a asp-controller="RecipeView" asp-action="getRecipe">Confecionar Receita</a>
        <a asp-controller="RecipeView" asp-action="getRecipes">Livro de Receitas</a>
        <p> <a asp-controller="UserView" asp-action="RegisterUser">Registar</a></p>
    </div>
</body>


</html>