<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>

    <div class="container">
        <main role="main" class="pb-3">
            
            @RenderSection("Scripts", false)
            @RenderSection("Styles", false)
            @RenderBody()

        </main>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryvalidate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validationunobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>

</body>
</html>
